# IntelliJ
.idea/
*.iml

# Java
target/

# VS Code
.vscode/

# Node
node_modules/
dist/

# Python
.venv/
__pycache__/
*.pyc

# Logs
*.log

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Python virtual environment
ml/.venv/


# Generated model artifacts
ml/models/*.pkl

# Generated outputs
ml/outputs/

# Jupyter checkpoints
.ipynb_checkpoints/